
/* MEDIA QUERIES
--------------------------------------------*

/* Smartphone */

@media only screen and (max-width:768px) {

    body,
    body.home,
    .site-container {
        background: none;
    }

    #responsive-menu-pro-container {
        background-color: white;
        background-image: linear-gradient(90deg, rgba(217, 230, 206, 0.5) 50%, transparent 50%), linear-gradient(rgba(232, 243, 188, 0.5) 50%, transparent 50%);
        background-size: 20px 20px;
    }

    .home .site-title a {
        background-size: contain;
    }


    /* Custom Widget Styles */
    .widget.candystripe {
        background-color: #fffdf8;
    }

    .widget.candystripe:before,
    .widget.candystripe:after {
        background: repeating-linear-gradient(
            -45deg,
        #ffb485,
        #ffb485 12px,
        #f0f0f0 10px,
        #f0f0f0 23px
        );
    }



}
