/*
Login Page
---------------------------------------------------------------------------------------------------- */

body.login {
  width:100%;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}

body.login.color-theme-winter {
  background-image: url('../images/theme/background-winter/background-snow.jpg');
}

body.login.color-theme-spring {
	background-color: white;
	background-image: linear-gradient(90deg, rgba(217, 230, 206, 0.5) 50%, transparent 50%), linear-gradient(rgba(232, 238, 210, 0.5) 50%, transparent 50%);
	background-size: 30px 30px;
}

#login {
  padding: 20px 30px;
  margin: 8% auto auto auto;
  background:#FFFFFF;
  box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.17);
}

.login form {
    box-shadow: initial;
}

.login h1 a {
  background-image: url('login-logo.png');
  background-repeat:no-repeat;
  background-size:100px 100px;
	background-position: center;
  width:150px;
  height:150px;
	border-radius : 50%;
  box-shadow : 5px 5px 5px #CCC;
}

#nav > a:first-child {
  display: inline-block;
  font-family: Oswald,sans-serif;
  color: #676767;
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

#nav > a:first-child:hover {
  color: #d76642;
  text-decoration: none;
}


/* Media queries */

@media only screen and (max-width:420px) {
  body.login {
    background:#FFFFFF;
  }

  #login {
    box-shadow: none;
  }

}
