/* Login Page : Spring color style
---------------------------------------------------------------------------------------------------- */

body {
  background-color: white;
  /* background-image: linear-gradient(90deg, rgba(217, 230, 206, 0.5) 50%, transparent 50%), linear-gradient(rgba(232, 238, 210, 0.5) 50%, transparent 50%); */
  background-image: linear-gradient(90deg, rgba(217, 230, 206, 0.5) 50%, transparent 50%), linear-gradient(rgba(232, 243, 188, 0.5) 50%, transparent 50%);
  background-size: 30px 30px;
}
