/* Login Page : Spring color style
---------------------------------------------------------------------------------------------------- */

body {
  background-color: white;
  /* background-image: linear-gradient(90deg, rgba(217, 230, 206, 0.5) 50%, transparent 50%), linear-gradient(rgba(232, 238, 210, 0.5) 50%, transparent 50%); */
  background-image: linear-gradient(90deg, rgba(217, 230, 206, 0.5) 50%, transparent 50%), linear-gradient(rgba(232, 243, 188, 0.5) 50%, transparent 50%);
  background-size: 30px 30px;
}

#login {
  width: 320px;
  margin: 8% auto;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px #b7b7b7;
}

.login form {
  border: none;
  box-shadow: none;
}

.login h1 a {
  background-image: url('login-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
}
