/*
Login Page
---------------------------------------------------------------------------------------------------- */

body.login {
  width:100%;
  background-image: url('../images/theme/background-winter/background-snow.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}

#login {
  padding: 20px 30px;
  margin: 8% auto auto auto;
  background:#FFFFFF;
  box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.17);
}

.login form {
    box-shadow: initial;
}

.login h1 a {
  background-image: url('login-logo.png');
  background-repeat:no-repeat;
  background-size:100px 100px;
	background-position: center;  
  width:150px;
  height:150px;
	border-radius : 50%;
  box-shadow : 5px 5px 5px #CCC;
}

#nav > a:first-child {
	color: #d76642;
}


/* Media queries */

@media only screen and (max-width:420px) {
  body.login {
    background:#FFFFFF;
  }
}

