/* VARIABLES */
body {
    --c-ps-profile-cover-height : 200px;
    --PS-COLOR--TEXT--LIGHT: #616161;
    --c-ps-landing-image-height-mobile : 400px;
}

.ps-focus {
    --height: var(--c-ps-profile-cover-height);
    --height--mobile: 40%;
}

/* FONTS */

.ps-page,
.ps-notif__box,
.ps-focus__options,
.ps-focus__details,
.ps-landing__form,
.ps-landing__actions,
.ps-modal__container,
.ps-focus__cover-actions {
    font-family: sans-serif;
}

.ps-profile__about-field-title {
    font-weight: bold;
}

.ps-friends__tabs-inner,
.ps-profile__about-field-static {
    font-size: 85%;
}

.ps-form__separator {
    background-color: #eaeaea;
    font-size: 130%;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
}

.ps-tabs__item a {
    text-decoration: none;
}

input.ps-input.ps-js-members-query {
    font-size: 80%;
    font-style: italic;
}

/* LANDING */
.ps-landing__cover-inner {
    top: 0;
    bottom:initial;
}

/* PROFILE */

h1.blog-title {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:999;
    text-align: center;
    color:#FFF;
    text-shadow: 3px 3px 3px #3e3e3e;
    font-size: 250%;
}

.ps-focus__footer {
    top: -20px;
}

.ps-focus__cover-image>img {
    opacity: 1!important;
}


@media (min-width: 61.25em) {
    .ps-focus__title {
        font-size: 200%;
    }
    .ps-focus__title span {
        text-transform: capitalize;
    }
    .ps-focus__details {
        margin-top:-10px;
    }
    .ps-focus__like span {
        margin-top: 0px;
    }
}

.ps-focus__details>span:last-child, .ps-focus__details>a:last-child {
    margin: 10px 0;
}


/* .ps-tabs, */
.ps-focus__menu {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    height: 40px;
}


/* MEMBERS */
.ps-member {
    box-shadow: 3px 3px 3px #bfbfbf;
}

.ps-member__name {
    font-family: Oswald, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 140%;
    line-height: 40px;
}

.ps-member__name a {
    text-decoration: none;
    color:#6d6d6d;
}

.ps-member__header {
    height: 140px;
}

/* NOTIFICATIONS */

.ps-notif__box {
    font-size: 85%;
}

.ps-notif__bubble {
    top: 2px;
    right: 65%;
}


/* PAGES */

.main-nav-widget-area .ps-js-widget-userbar {
    font-size: 1.6rem;
    font-family: Oswald;
    font-weight: 400;
    /* height: 40px; */
}

.psw-userbar__user {
    text-transform: uppercase;
}

.main-nav-widget-area .psw-userbar__name,
.main-nav-widget-area .ps-js-widget-userbar-notifications {
    font-size: inherit;
}

.ps-avatar {
    display: inline-block;
    max-width: 64px;
}


.main-nav-widget-area .psw-avatar--userbar img {
    max-width: 128px;
    max-height: 128px;
    position: absolute;
    bottom: -45px;
}

.main-nav-widget-area .psw-avatar--userbar {
    max-width: 128px;
    width: 100px;
    position: relative;
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {

    .ps-focus__cover-image>img {
        height: 100%!important;
        object-fit: cover;
    }

    .mobile-nav-container .psw-userbar {
        bottom: -10px;
    }

    .mobile-nav-container .psw-userbar__user {
        justify-content: flex-end;
        width: 100%;
    }

    .mobile-nav-container .ps-notifs {
        width: 100%;
        justify-content: space-evenly;
    }

    .mobile-nav-container .psw-userbar__name {
        width: 40%;
    }

    .mobile-nav-container .psw-userbar .ps-dropdown {
        width: 20%;
    }

    /* PROFILE MENU */
    .ps-focus__menu {
        font-size: 14px;
        height: 100%;
    }

    .ps-focus__menu-inner {
        height: auto;
    }

}
