/* GLOBAL */





/* =================================================================*/
/* =                  SIDEBAR SECTION                             =*/
/* =================================================================*/









/*.sidebar-primary .widgettitle {
  margin: 20px 0 15px;
  /*font-weight: 500;
  /*font-size: 16px;
}*/

/*#search-6 .widgettitle {
  margin: 0 0 15px;
}*/












/* =================================================================*/
/* =                  MAIN CONTENT SECTION                         =*/
/* =================================================================*/




/*.home-top .widget_text .widgettitle {
  font-size: 30px;
}*/

/* HOME TOP */






