.foodie-pro-widget-box {
	background: #fafafa;
	border: 1px solid #e5e5e5;
	display: block;
	margin-bottom: 10px;
	padding: 5px 15px;
}

.customize-control select {
	width: 100%;
}


/* OZ Horizontal Menu
---------------------------------------------------*/

#ozhmenu_wrap {
	margin-top: 10px;
	float: left;	
}

#ozhmenu {
	padding:10px;
	background: #5a5a5a!important;
}

#ozhmenu li .wp-menu-image {
	width: 20px;
	height: 20px;
}

/*div.widget-liquid-right {
  position: fixed;
  top: 50px;
  left: 50%;
  width: 50%;
  overflow-y: scroll;
  height: 100%;
}*/
