
/*Remove category/taxonomy description (use archive intro text instead) */
tr.form-field.term-description-wrap {
    display: none;
}

.foodie-pro-widget-box {
	background: #fafafa;
	border: 1px solid #e5e5e5;
	display: block;
	margin-bottom: 10px;
	padding: 5px 15px;
}

.customize-control select {
	width: 100%;
}


/* OZ Horizontal Menu
---------------------------------------------------*/

#ozhmenu {
	padding:5px;
	background: #5a5a5a!important;
}

#ozhmenu li .wp-menu-image {
	width: 20px;
	height: 20px;
}

/*div.widget-liquid-right {
  position: fixed;
  top: 50px;
  left: 50%;
  width: 50%;
  overflow-y: scroll;
  height: 100%;
}*/


/* Media Queries
---------------------------------------------------*/


@media only screen and (max-width:600px) {

	#ozhmenu {
		padding:20px 5px 5px 5px;
		background: #744d84!important;
	}

}