/* Color theme :  White (default) 
--------------------------------------------- */

.site-header {
	background-position:top left, top right;
	background-repeat:no-repeat;
	background-color: #ffffff;	
}

.home .site-header {
	/*background-position: 10px 10px, right 10px top 10px;*/
	background-repeat:no-repeat;
	background-color: #ffffff;	
}

.no-js .site-header,
.no-webp .site-header,
.no-js .home .site-header,
.no-webp .home .site-header {
	/*background-image:url("../../images/theme/background-spring/background-l.jpg"),url("../../images/theme/background-spring/background-r.jpg");*/
	background-image:url("../../images/theme/header-autumn.jpg");
	background-size:cover;
}


.webp .site-header,
.webp .home .site-header {
	/*background-image:url("../../images/theme/background-spring/background-l.webp"),url("../../images/theme/background-spring/background-r.webp");*/
	background-image:url("../../images/theme/header-autumn.webp");
	background-size:cover;
}

/*.no-js .site-header,
.no-webp .site-header {
	background-image:url("../../images/theme/background-spring/background-l-small.jpg"),url("../../images/theme/background-spring/background-r-small.jpg");
}
*/
/*.webp .site-header {
	background-image:url("../../images/theme/background-spring/background-l-small.webp"),url("../../images/theme/background-spring/background-r-small.webp");
}
*/
.foodie-pro .header-inner {
	background-color: rgba(255, 255, 255, 0.6);
}

.home body,
body {
	/*background-color:rgba(224, 224, 224, 0.34);*/
	background-color: white;
	background-image: linear-gradient(90deg, rgba(216, 198, 172, 0.4) 50%, transparent 50%), linear-gradient(rgba(255, 185, 108, 0.39) 50%, transparent 50%);
	background-size: 30px 30px;	
}

.site-container {
	background-color:#FFF;
/*  background-color: rgba(255, 255, 255, 0.7);
  background-image: url("../../images/container/bedge-grunge-beige.png");*/
}

.no-js .home .site-title a,
.no-webp .home .site-title a {
	/*background:url("../../images/theme/logo-white/logo_530_230.png") no-repeat center;*/
	background:url("../../images/theme/logo-white/logo_360_150.png") no-repeat center;
}

.webp .home .site-title a {
	/*background:url("../../images/theme/logo-white/logo_530_230.png") no-repeat center;*/
	background:url("../../images/theme/logo-white/logo_360_150.webp") no-repeat center;
}

.no-js .site-title a,
.no-webp .site-title a,
.no-webp .home .nav-up .site-title a {
	background:url("../../images/theme/logo-white/logo_320_100.png") no-repeat center;
}

.webp .site-title a,
.webp .home .nav-up .site-title a {
	background:url("../../images/theme/logo-white/logo_320_100.webp") no-repeat center;
}

h1.entry-title,
.entry-title a,
.sidebar .widgettitle a,
.widgettitle  {
	/*color:#5d5d5d;*/
	color:#444;
}

.home-bottom .widgettitle {
	border-bottom:1px solid #ccc;
}

.img-menu a .menu-title span,
a.more-link,
.more-from-category a {
	background:#f5f5f5;
}

.img-menu:hover a .menu-title span,
a.more-link:hover,
.more-from-category a:hover {
	background: #e4e4e4;
	color: #616161;
	transition: all 0.2s ease-in-out;
}

.recipes-top, 
.blogs-top,
.archives-top {
  border-bottom: 1px dotted #555;
}

.archives-bottom {
  border-top: 1px dashed #555;
}

.footer-widgets {
  background-color: #f8f8f8!important;
  border: 1px dashed #555;
}

/* Text area specific formatting */
input[type="text"],
input[type="email"],
input[type="password"],
optgroup,
textarea,
.search-form input {
	background-color:#fefefe;/* background-color important, pas background car conflit avec autre setting plus loin*/
}

/* STAR RATING 
-------------------------------------------------------*/
/* Icons colors */

i.fa.fa-star,
i.fa.fa-star-half-o {
	color:#f5a241;
}
i.fa.fa-star-o {
	color:#d3d3d3;
}
.full i.fa.fa-star-o {
	color:#f18b14;
}


/* WIDGETS 
-------------------------------------------------------*/

input, select, textarea,
.widget.back ul li {
	/*border:1px solid #ccc;*/
	background-color: #fff;
}

.widget.back ul li:hover {
	background-color:#fafafa;	
}

/* Profile Completion Widget */
.widget-text.wp_widget_plugin_box {
  /*background-color: #efeeee;*/
  background-color: transparent;
}


/* Widgets with background
-------------------------------------------- */
.home-top .widget.widget_bp_whats_new {
  background-color: #fff;
  margin-bottom: 30px;
}

/* Widget top5
-------------------------------------------- */

.top5 .rpwe-block {
	/*background-color:#f4f4f4;*/
	border : 1px dashed #CCC;
}

/* Widget themes
-------------------------------------------- */

.single .widget.themes ul li:hover,
.widget.themes ul li:hover,
.widget.back ul li:hover {
  border-color:#AAA;
}

.widget.themes ul li a {
	color:#6b6b6b;
}

.widget.themes ul li.current-menu-item > a,
.widget.themes ul li:hover > a {
	color:#af4a2b;
}

/* Widget bubbles
-------------------------------------------- */

.widget.bubbles ul li {
  border: 1px dashed #ddd;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd;	
	background: #FFF;  
}

/* RECIPES & POSTS
--------------------------------------------*/
#joined-pics .add-picture-button button {
	background:#ececec;
	color:#787878;	
}

.ingredients-container {
	background-color :#f1f0ef;
}

.recipe-instruction-bullet {
	background-color:#f1f0ef;
}

.recipe-instruction-bullet:hover {
	background-color:#d8d4d0
}

span.wpurp-recipe-ingredient-notes.recipe-ingredient-notes {
    color: #9a9a9a;
}

li.comment {
  background-color:#f5f5f5;
}


/* ARCHIVES 
--------------------------------------------*/

.archive-pagination li {
	border:1px solid #ccc;
}


/* MISC 
--------------------------------------------*/

.frontier-list-item {
	border-color:#aaa;
}


/* MEDIA QUERIES 
--------------------------------------------*

/* Background */
/* @media only screen 
	and (max-width:1080px) {


} */


/* Smartphone */

@media only screen 
	and (max-width:980px) {
		
	body,
	.no-webp body,
	.no-js body,
	.webp body,
	body.home,
	.no-webp .home body,
	.no-js .home body,
	.webp .home body,
	.site-container {
		/*background:url("../../images/background/background-l-small.jpg") no-repeat top left;*/
		background:none;
	}		
	
	.site-title a { 
	 	background: url("../../images/theme/logo-white/logo_320_100.png") center left no-repeat; 	
	}
			
	.home .site-title a {
    background: url("../../images/theme/logo-white/logo_360_150.png") no-repeat;
		background-position: center;
	}	

}


/* Medium screens */

@media only screen 
	and (max-width:720px) {

	.site-title a {
		background:url("../../images/theme/logo-white/logo_160_40.png") no-repeat left;
		background-size:contain;
	} 

	.home .site-title a {
		background:url("../../images/theme/logo-white/logo_360_150.png") no-repeat center;
	} 
	
	.entry-header,
	.site-header,
	#mega-menu-wrap-secondary,
	.widget.bubbles {
		background-color:rgba(255, 255, 255, 0.7);	
	}	
	
}

/* Retina smartphone */
@media only screen 
	and (max-width:720px)
  and (-webkit-min-device-pixel-ratio:2) {
 
	.site-title a {
		background:url("../../images/theme/logo-white/logo_320_100.png") no-repeat left;
		background-size:contain;
	} 	
	
	.home .site-title a {
		background:url("../../images/theme/logo-white/logo_720_300.png") no-repeat center;
	} 		

}


/* Small screens */
@media only screen 
	and (max-width:420px) {
	
	.home .site-title a {
    background-size: contain;
	}	

	
}