

/* FONTS 
--------------------------------------------- */

/*@font-face {
  font-family: "Amatic SC";  
  src: url('assets/fonts/lucie-mandragore/lucie-mandragore.ttf');  
  font-weight: normal;  
}*/

/*Root font size for rem unit, set relative to the navigators font size
62,5% of 16px => 10px*/
html {
	font-size: 62.5%; 
}

body {
	font-family:'Vollkorn', sans-serif;
	font-size : 1.8rem;
	color:#333;
	font-weight:300;
	line-height:1.625;	
	-webkit-font-smoothing: antialiased;	
}

body #register-page {
	font-size: 1.6rem;
	max-width: 780px;    
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Amatic SC";	
}
 

h1 {
	font-size: 6rem;
	/* font-weight: bold;	 */
	margin:0.67em 0;
}

h2 {
	font-size: 3rem;
	font-weight: bold;
}

h3 {
	font-size: 3rem;
	font-weight:bold;
}

h4 {
	font-size: 3rem;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

/*.legal h1, .legal h2, .legal h3, .legal h4, .legal h5, .legal h6 {
	font-family: "Oswald";	
}

.legal h1 {
	font-size: 5rem;
	font-weight:normal;
}

h2 {
	font-size: 3rem;
	font-weight:normal;
}

h3 {
	font-size: 3rem;
	font-weight:normal;
}

h4 {
	font-size: 3rem;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
*/

.button,
a.button,
a.black-button, 
.widget.back ul li a {
	font-family: Oswald;
	font-size: 16px;
	padding: 7px 10px;	
}

button,
input,
optgroup,
select,
textarea, 
ul.wpuf-form li .wpuf-fields a.file-selector, 
a.comment-reply-link,
a#cancel-comment-reply-link,
.frontier-list-item-content#frontier-post-actions a,
.wp-caption-text,
.site-description,
.post-info,
.post-meta {
	font-family: sans-serif;
	font-weight: 400;
	padding: 7px 10px;	
}

a.comment-reply-link,
a#cancel-comment-reply-link {
    font-size: 1.2rem;
}

.comment-reply textarea,
input#author,
input#email,
input#url {
	font-size: 1.6rem;
}

.entry-meta i.fa {
  font-size: 2rem;
}

#signup_submit {
	font-size: 1.3rem;
}

/* Nav menu */
.mega-search input {
    font-size: 1.6rem;
}

span.bp_counter,
.search-form input, 
.author-box-title {
	font-family:"Vollkorn","Helvetica Neue",sans-serif;
}

.mega-menu-toggle a[class^='dashicons']:before {
	font-family:dashicons;
}

.mega-menu-toggle a[class^='fa']:before {
	font-family:FontAwesome;
}

/* HEADINGS */
h1.archive-title,
h1.entry-title {
	font-size: 5.5rem;
	line-height: 5rem;
	letter-spacing:2px;
	display: inline;
	text-align: left;
	font-variant:small-caps;
	text-decoration: none;
	text-transform: capitalize;
	vertical-align: middle;
	font-weight:normal;
}

.archive h2 { /* Subtitle */
	/* font-size: 4.5rem; */
	margin: 40px 0 0 0;
	font-weight:bold;
}

h2.user-nicename {
	font-family: Vollkorn, sans-serif;
	font-weight: 100;
}

/* Recipes & ingredients */
.single h3 {
  	font-size: 3rem;
	font-weight: bold;  
}

.entry-header-overlay .tag-overlay {
  font-family: 'Amatic SC';
  text-transform: capitalize;
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: bold;
}

.entry-header-overlay .tag-overlay#veg {
  font-family: 'FontAwesome';
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: bold;
}

.archive h2.entry-title a,
.search h2.entry-title a,
h3.rpwe-title a {
	font-family: "Oswald", sans-serif;
	text-decoration: none;
	text-transform:capitalize !important;
	font-weight: normal;
	font-size: 1.8rem;	
}

h2.entry-title, .wpupg-post-title, 
.sidebar .widget-wrap li a, 
.sidebar .widget-wrap li h3 a, 
.sidebar .widget-wrap a {
  font-size: 1.7rem;
}

.featured-content h2.entry-title a {
  font-size: 16px;
  text-decoration:none;
}

/* Post Meta  */

#username a {
	font-family: Oswald,sans-serif;
    font-size: 19px;
    font-style: initial;
    vertical-align: middle;
    padding: 0 5px;
}


/* Responsive menu fonts */
#responsive-menu-pro-container .user_name {
	font-family: "Oswald", sans-serif;
	font-size: 3rem;
	color: #f3f3f3;
	padding: 20px;
}

/*Text sizes */
.text-big-font {
	font-size: 1.8rem;
}

/* Widgets Fonts  */

.widgettitle {
	font-family:'Amatic SC', cursive;
	font-weight:bold;
}

.fancy .widgettitle {
	font-family:"Ruge Boogie", cursive;
	font-size: 60px;
	font-weight:normal;
	text-transform:none;
	color:#222;
}

.elegant .widgettitle {
	/*font-family:"Delius Swash Caps", cursive;*/
	font-family:"Amatic SC", cursive;
	font-size: 5rem;
	color:#222;
	font-weight:bold;
	text-transform:none;  
}

.title-big-font .widgettitle {
	font-size: 5rem;
}

.recipes-top .widgettitle, 
.blogs-top .widgettitle,
.archives-top .widgettitle {
	font-family:"Vollkorn", sans-serif;	
	font-size: 1.1rem; 
	margin-bottom:0;
	font-weight:normal;
}

/* Footer fonts */

.footer-widgets,
.footer-widgets .widgettitle {
	font-family: Arial, Helvetica, sans-serif;
}

.footer-widgets .widgettitle {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.3rem;
	color: #555;
}

.login-widget-user-link a {
	text-transform : uppercase;
	font-weight : normal;
	font-size : 2.4rem;
	color:#555;
}

.widget .login-form label {
	font-size : 1.5rem;
}

#whats-new-submit.loading:before {
  content: "\f110";
  font-family: FontAwesome;
  font-size: 2rem;
}


/* Smartphone */
@media only screen 
	and (max-width:870px) {

	.page h1.entry-title, 
	h1.archive-title, 
	h1.entry-title {
		/*text-align: center;*/
		font-size: 4.5rem;
		line-height: 4rem;
	}		
	
	.title-big-font .widgettitle,
	.elegant .widgettitle {
    	font-size: 2.8rem;
		line-height: 4.5rem;
	}	
	
}