.offline-indicator {
    font-family:Oswald, sans-serif;
    background-color: #606060!important;
    color: #c5c5c5!important;
    padding: 1.5rem;
    position: fixed;
    z-index: 9999;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 200ms;
}

.offline-indicator p {
    margin: 0 0 0 0;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    font-family: Oswald;
}

.offline-indicator--top {
    bottom: inherit;
    top: 0;
    transform: translateY(-100%);
}

body.pwp-offline .offline-indicator,
body.pwp-offline .offline-indicator--top {
    transform: translateY(0);
}
